@{
    ViewBag.Title = "Chuck";
}

<div class="jumbotron">
    <h1>Chuck Data Examples</h1>
    <a href="~/data/chuck">View Raw Dataset</a>
    <p class="lead">CORS support is enabled for this dataset from any domain, so you don't have to worry about your ajax call coming back with an error</p>
    <p>A simple example webpage which illustrates the usage of this JSON dataset:</p>
    <p>
        <div class="table-responsive">
            <pre>
@Html.Raw("&lt;html xmlns='http://www.w3.org/1999/xhtml'&gt;")
@Html.Raw("&lt;head&gt;")
@Html.Raw("    &lt;title&gt;&lt;title&gt;")
@Html.Raw("    &lt;link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' /&gt;")
@Html.Raw("    &lt;script src='http://code.jquery.com/jquery-2.1.3.js'&gt;&lt;/script&gt;")
@Html.Raw("    &lt;script&gt;")
@Html.Raw("        $(function () {")
@Html.Raw("            var url = 'http://centriqdata.cloudapp.net/data/chuck';")
@Html.Raw("            $.getJSON(url, function (data) {")
@Html.Raw("                for (var i = 0; i < data.length; i++) {")
@Html.Raw("                    $('#datarows').append('&lt;tr&gt;' +")
@Html.Raw("                            '&lt;td&gt;' + data[i].ID + '&lt;/td&gt;' +")
@Html.Raw("                            '&lt;td&gt;' + data[i].FirstName + '&lt;/td&gt;' +")
@Html.Raw("                            '&lt;td&gt;' + data[i].LastName + '&lt;/td&gt;' +")
@Html.Raw("                            '&lt;td&gt;' + data[i].Position + '&lt;/td&gt;' +")
@Html.Raw("                            '&lt;td&gt;' + data[i].Salary + '&lt;/td&gt;' +")
@Html.Raw("                            '&lt;td&gt;' + data[i].TerminationDate + '&lt;/td&gt;&lt;/tr&gt;');")
@Html.Raw("                }")
@Html.Raw("            });")
@Html.Raw("        });")
@Html.Raw("    &lt;/script&gt;")
&lt;/head&gt;
&lt;body&gt;
    &lt;table class="table"&gt;
        &lt;thead&gt;&lt;tr&gt;
            &lt;th&gt;ID&lt;/th&gt;&lt;th&gt;First Name&lt;/th&gt;
            &lt;th&gt;Last Name&lt;/th&gt;&lt;th&gt;Position&lt;/th&gt;
            &lt;th&gt;Salary&lt;/th&gt;&lt;th&gt;Date Terminated&lt;/th&gt;
        &lt;/tr&gt;&lt;/thead&gt;
        &lt;tbody id="datarows"&gt;&lt;/tbody&gt;
    &lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
        </div>
    </p>
    <p>The output would look something like this</p>
    <div class="table-responsive">
        <iframe src="~/ChuckSample.html" height="300"></iframe>
    </div>
    <p>In addition to the method shown here, you can also query this dataset for a specific record by including another parameter (Id)</p>
    <p><em>var url = 'http://centriqdata.cloudapp.net/data/chuck?id=' + idToFind;</em></p>
    <p>
        Since this returns a single JSON object instead of an array, you'll need to remove the
        for statement in the above code and the index on the data object
    </p>
<pre>
@Html.Raw("        $(function () {")
@Html.Raw("            var url = 'http://centriqdata.cloudapp.net/data/chuck?id=9;")
@Html.Raw("            $.getJSON(url, function (data) {")
@Html.Raw("                $('#datarows').append('&lt;tr&gt;' +")
@Html.Raw("                        '&lt;td&gt;' + data.ID + '&lt;/td&gt;' +")
@Html.Raw("                        '&lt;td&gt;' + data.FirstName + '&lt;/td&gt;' +")
@Html.Raw("                        '&lt;td&gt;' + data.LastName + '&lt;/td&gt;' +")
@Html.Raw("                        '&lt;td&gt;' + data.Position + '&lt;/td&gt;' +")
@Html.Raw("                        '&lt;td&gt;' + data.Salary + '&lt;/td&gt;' +")
@Html.Raw("                        '&lt;td&gt;' + data.TerminationDate + '&lt;/td&gt;&lt;/tr&gt;');")
@Html.Raw("            });")
@Html.Raw("        });")
</pre>
</div>

